body {
  margin: 0;
  background-color: #e1dddd; }
  body header, body footer {
    text-align: center;
    margin: 0 auto;
    background-color: #d2585c;
    color: white;
    padding: 6px;
    position: relative; }
  body header {
    margin-bottom: 10px; }
    @media all and (max-width: 576px) {
      body header {
        text-align: left; } }
    @media all and (max-width: 448px) {
      body header h1 {
        font-size: 18px; } }
  body footer {
    margin-top: 10px; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0;
    display: inline-block; }
  body h3 {
    margin-top: 10px; }
    @media all and (max-width: 1024px) {
      body h3 {
        font-size: 19px; } }
    @media all and (max-width: 640px) {
      body h3 {
        font-size: 12px; } }
  body main {
    padding: 25px;
    width: 100%; }
  body .row {
    margin: 0 !important; }
  body .button {
    margin-bottom: 10px;
    border-radius: 11px;
    font-size: 20px;
    background-color: #9d4145; }
    body .button:hover {
      color: black;
      background-color: #c7bebe;
      transition: 0.8s; }
  body nav {
    text-align: center; }
  body li {
    width: 100%;
    list-style-type: none;
    padding: 3px; }
  body .innerPanel {
    padding: 0;
    margin: 0; }
  body .innerLi {
    color: black;
    font-size: 15px;
    background-color: #aaa;
    padding-left: 30px; }
    body .innerLi:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
  body .textDiv {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #e1dddd;
    padding: 8px;
    margin-bottom: 20px;
    width: 59%;
    font-size: 1em; }
    @media all and (max-width: 896px) {
      body .textDiv {
        font-size: 0.9em;
        width: 97%; } }
  body .contInfoDiv {
    margin-left: 30%; }
  body .adsDiv {
    border: 1px solid black;
    word-wrap: break-word;
    cursor: default;
    margin-top: 15px;
    padding: 10px;
    background-color: #aaa; }
    body .adsDiv li {
      cursor: default; }
  body .hrStyle {
    border-top: 2px solid #9d4145; }
  body .profileDiv {
    display: inline-block;
    width: 40%;
    border-radius: 15px;
    padding: 10px;
    padding-right: 20px;
    text-align: center;
    background-color: #bbb;
    margin: 3%; }
    @media all and (max-width: 768px) {
      body .profileDiv {
        width: 95%;
        margin-top: 10px; } }
  body .imageDiv {
    margin: 0 auto;
    /*        min-width: 200px;
            min-height: 150px;*/
    width: 37%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px; }
    @media all and (max-width: 896px) {
      body .imageDiv {
        min-height: 50px;
        width: 80%; } }
  body .spanText {
    background-color: #e1dddd;
    padding: 2px;
    display: inline-block;
    width: 80%;
    text-align: left;
    margin-bottom: 10px; }
  body .spanText2 {
    background-color: #e1dddd;
    padding: 5px;
    margin: 5px;
    width: 30%;
    text-align: left;
    display: inline-block;
    font-size: 16px; }
    @media all and (max-width: 1024px) {
      body .spanText2 {
        font-size: 12px; } }
  body .spanStatus {
    display: inline-block;
    background-color: #e1dddd;
    padding: 5px 19px;
    width: 90%;
    font-size: 0.8em; }
  body .infoDiv {
    text-align: right;
    width: 95.5%;
    margin: 10px; }
  body .activeLink {
    background-color: #d2585c;
    color: white; }
  body .pagination > .active > a, body .pagination > .active > span, body .pagination > .active > a:hover,
  body .pagination > .active > span:hover, body .pagination > .active > a:focus, body .pagination > .active > span:focus {
    background-color: #d2585c;
    border-color: #d2585c; }
  body .form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #999393;
    border-radius: 20px;
    box-shadow: black 0 0 30px;
    padding: 20px; }
    body .form input[type='text'], body .form input[type='password'] {
      display: block;
      margin: 5px auto;
      width: 90%; }
    body .form h3 {
      color: white; }
    @media all and (max-width: 768px) {
      body .form {
        width: 100%; } }
  @media all and (max-width: 768px) {
    body .input-lg {
      font-size: 13px; } }
  body .spanNoResult {
    position: absolute;
    top: 50px;
    left: 210px;
    z-index: -1;
    font-size: 26px; }
    @media all and (max-width: 768px) {
      body .spanNoResult {
        font-size: 18px;
        left: 110px; } }
  body .registerForm {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #999393;
    border-radius: 20px;
    box-shadow: black 0 0 30px; }
    body .registerForm input[type='text'], body .registerForm input[type='password'], body .registerForm input[type='email'] {
      display: block;
      margin: 5px auto;
      width: 90%;
      height: 35px; }
    body .registerForm h3 {
      color: white; }
    @media all and (max-width: 768px) {
      body .registerForm {
        width: 100%; } }
  body .login {
    background-color: #c7bebe;
    font-size: 1.5em;
    box-shadow: black 0 0 10px;
    width: 46%;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%; }
    body .login:hover {
      background-color: #b83030;
      color: white;
      border: 1px solid white;
      transition: 0.9s; }
    @media all and (max-width: 512px) {
      body .login {
        font-size: 1.2em; } }
  body .link {
    font-size: 20px;
    /*margin-left: 20px;*/
    color: #db0f16;
    padding: 0px; }
    body .link:hover {
      color: white; }
    @media all and (max-width: 512px) {
      body .link {
        font-size: 1em; } }
  body .errorDiv {
    padding: 20px;
    background-color: #d2585c;
    color: wheat; }
  body #userInfo {
    position: absolute;
    right: 110px;
    top: 15px; }
  body .navigation {
    margin-top: 17px;
    border-radius: 10px;
    background-color: #aaa;
    padding: 10px;
    margin-bottom: 20px; }
  body #logout {
    /*        position: absolute;
            top:12px;
            right: 5px;*/
    margin-top: 5px;
    float: right;
    color: white; }
    body #logout:hover {
      box-shadow: whitesmoke 0 0 30px;
      color: black; }
  body .userAd {
    background-color: #aaa;
    padding: 10px;
    width: 85%;
    margin: 19px !important; }
    @media all and (max-width: 768px) {
      body .userAd {
        margin-bottom: 38px !important;
        width: 100%; } }
  body .divInfoAdUser {
    border-right: 2px solid gray;
    width: 70%;
    cursor: default;
    background-color: #aaa;
    padding: 10px;
    display: inline-block; }
    @media all and (max-width: 1024px) {
      body .divInfoAdUser {
        width: 100%;
        font-size: 15px;
        border: 0;
        border-bottom: 2px solid gray; } }
  body .statusDiv {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    width: 26%; }
    @media all and (max-width: 1024px) {
      body .statusDiv {
        width: 100%;
        font-size: 14px;
        padding: 2px; } }
    @media all and (max-width: 1280px) {
      body .statusDiv {
        font-size: 18px;
        padding: 3px; } }
  body .deactivateBut {
    font-size: 18px;
    padding: 6px;
    border-radius: 10px;
    margin-top: 20px;
    width: 65%; }
    @media all and (max-width: 1280px) {
      body .deactivateBut {
        font-size: 15px;
        padding: 3px; } }
  body .editProfileBut {
    width: 40%;
    margin: 10px; }
    @media all and (max-width: 768px) {
      body .editProfileBut {
        font-size: 18px;
        width: 95%; } }
    @media all and (max-width: 1024px) {
      body .editProfileBut {
        font-size: 14px;
        width: 65%; } }
  body .activePage {
    background-color: none; }
    body .activePage a {
      background-color: #d2585c;
      color: black;
      font-weight: bolder; }
  body .infoMsg {
    position: fixed;
    top: 50px;
    left: 25%;
    width: 50%;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 25px;
    background-color: #2ba014; }
    @media all and (max-width: 1280px) {
      body .infoMsg {
        font-size: 18px;
        padding: 3px;
        left: 10%;
        width: 80%; } }
  body #deleteContainer {
    margin: 0 15%;
    padding: 20px;
    color: black;
    text-align: center;
    border-radius: 20px;
    background-color: #bbb; }
    @media all and (max-width: 768px) {
      body #deleteContainer {
        margin: 0; } }
  body .selectInEdit {
    border-radius: 8px;
    padding: 2px;
    background-color: #eee;
    font-size: 16px;
    width: 90%; }
    @media all and (max-width: 1024px) {
      body .selectInEdit {
        font-size: 12px; } }
  body .textArea {
    min-width: 400px;
    background-color: #eee;
    min-height: 120px;
    max-width: 70%; }
  body .errorDivPublish {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    padding: 20px;
    font-size: 26px;
    text-align: center;
    background-color: #d2585c;
    color: wheat; }
    @media all and (max-width: 1280px) {
      body .errorDivPublish {
        left: 10%;
        width: 80%; } }
  body .image-box {
    width: 200px;
    height: 150px; }
  body #previewImg {
    width: 100%; }
  body .divForImagesEdit {
    display: inline-block;
    width: 45%;
    vertical-align: top; }
  body a {
    display: inline-block;
    margin-top: 20px;
    color: black;
    cursor: pointer;
    font-size: 20px; }
    body a:hover {
      color: #db0f16; }
  @media all and (max-width: 768px) {
    body ul {
      padding: 0;
      margin: 0; } }
  body ul li {
    cursor: pointer; }
  body .panel-heading {
    background-color: #d2585c !important;
    border-color: #d2585c !important;
    border-top-left-radius: 9px !important;
    border-top-right-radius: 9px !important; }
  body .panel-primary {
    border-color: #d2585c !important;
    border-radius: 11px !important;
    border: 1px solid #d2585c !important; }
  body #logout {
    position: absolute;
    top: 8px;
    right: 5px; }

* {
  box-sizing: border-box; }

/*ADMIN PART*/
.admin header, .admin footer {
  background-color: #13ac3f;
  color: black; }
.admin .activeLink {
  background-color: #13ac3f;
  color: black; }
.admin .hrStyle {
  border-top: 2px solid #13ac3f; }
.admin .navigation {
  background-color: #bbb; }

/*# sourceMappingURL=style.css.map */
