body{
    margin: 0;
    background-color: #e1dddd;
    header,footer{
        text-align: center;
        margin: 0 auto;
        background-color: #d2585c;
        color: white;
        padding: 6px;
        position: relative;
    }
    header{
        margin-bottom: 10px;
    }
    footer{
        margin-top: 10px;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0;
        display: inline-block;
    }
    h3{
        margin-top: 10px;
        @media all and (max-width:1024px){
            font-size:19px;
        }
        @media all and (max-width:640px){
            font-size:12px;
        }
    }
    main{
        padding: 30px;
    }
    .button{
        margin-bottom: 10px;
        border-radius: 11px;
        font-size: 20px;
        background-color: #9d4145;
        &:hover{
            color: black;
            background-color: #c7bebe;
            transition: 0.8s;
        }
    }
    nav{
        text-align: center;
    }
    li{
        width: 100%;
        list-style-type: none;
        padding: 3px;
    }
    .innerPanel{
        padding: 0;
        margin: 0;        
    }
    .innerLi{
        color: black;
        font-size: 15px;
        padding-left: 30px;
    }
    .textDiv{
        display: inline-block;
        margin-top: 20px;
        margin-left: 10px;
        background-color: #aaf0ac;
        padding: 8px;
        margin-bottom: 20px;
        width: 55%;
        font-size: 1.2em;
        @media all and (max-width: 1024px){
            font-size:1em;
            width: 95%;
        }
    }
    .contInfoDiv{
        margin-left: 30%;
    }
    .adsDiv{
        border: 1px solid black;
        word-wrap: break-word;            
        margin-top: 15px;
        padding: 10px;
        background-color: #5edc62;
    }
    .hrStyle{
        border-top: 2px solid #9d4145;
    }
    
    .profileDiv{
        display: inline-block;
        width: 40%;
        border-radius: 15px;
        padding: 10px;
        padding-right: 20px;
        text-align: center;
        background-color: #ccc;
        margin: 3%;
        @media all and (max-width: 768px){
            width: 95%;
            margin-top: 10px;
        }
    }
    .imageDiv{
        margin: 0 auto;
        min-width: 200px;
        min-height: 250px;
        max-width: 40%;
        display: block;
        vertical-align: top;
        margin-top: 20px;
        @media all and (max-width: 1024px){
            min-height: 50px;
        }
    }
    .spanText{
        background-color: #aaf0ac;
        padding: 2px;
        display: inline-block;
        width: 80%;
        text-align: left;
        margin-bottom: 10px;
    }
    .spanText2{
        background-color: #aaf0ac;
        padding: 5px;
        margin: 5px;
        width: 30%;
        text-align: left;
        display: inline-block;
        font-size: 20px;
        @media all and (max-width: 1024px){
            font-size:16px;
        }
    }
    .spanStatus{
        display: inline-block;
        background-color: #aaf0ac;
        padding: 5px 19px;
        width: 90%;
    }
    .infoDiv{
        text-align: left;
        width: 80%;
        margin: 10px;
    }   
    .idle{}
    .active{
        background-color: #d2585c;
        color: white;
    }
    .form{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        background-color: #999393;
        border-radius: 20px;
        box-shadow: black 0 0 30px;
        padding: 20px;
        input[type='text'],input[type='password']{
            display: block;
            margin: 5px auto;
            width: 90%;
        }
        & h3{
            color: white;
        }
    }
    .registerForm{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
        background-color: #999393;
        border-radius: 20px;
        box-shadow: black 0 0 30px;
        input[type='text'],input[type='password'],input[type='email']{
            display: block;
            margin: 5px auto;
            width: 90%;
            height: 35px;
        }
        & h3{
            color: white;
        }
    }
    .login{
        background-color: #c7bebe;
        font-size: 1.5em;
        box-shadow: black 0 0 10px;
        width: 46%;
        margin-top: 10px;
        margin-left: 1%;
        margin-right: 1%;
        &:hover{
            background-color: #b83030;
            color: white;
            border: 1px solid white;
            transition: 0.9s;
        }
    }
    .link{
        font-size: 20px;
        /*margin-left: 20px;*/
        color: #db0f16;
        padding:5px;
        &:hover{
            box-shadow: white 0 0 50px;
        }
    }
    .errorDiv{
        padding: 20px;
        background-color: #d2585c;
        color: wheat;
    }
    #userInfo{
        position: absolute;
        right: 110px;
        top:15px;
    }
    .navigation{
        margin: 0;
        background-color: #aaa;
        padding: 10px;
        margin-bottom: 20px;
    }
    #logout{
        /*        position: absolute;
                top:12px;
                right: 5px;*/
        margin-top: 5px;
        float: right;
        color: white;
        &:hover{
            box-shadow: whitesmoke 0 0 30px;
            color: black;
        }
    }
    .userAd{
        background-color: #5edc62;
        padding: 10px;
        border: 1px solid #5edc62;
        margin: 10px;
    }
    .divInfoAdUser{
        border-right: 2px solid gray;
        width: 70%;
        padding: 10px;
        display: inline-block;
        @media all and (max-width: 1024px){
            width:100%;
            font-size:15px;
            border:0;
            border-bottom: 2px solid gray;
        }
    }
    .statusDiv{
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        text-align: center;
        font-size: 23px;
        padding: 10px;
        width: 26%;
        @media all and (max-width: 1024px){
            width:100%;
            font-size:14px;
            padding: 2px;
        }
        @media all and (max-width: 1280px){
            font-size:18px;
            padding:3px;
        }
    }
    .deactivateBut{
        font-size: 21px;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        width: 65%;
        @media all and (max-width: 1280px){
            font-size:18px;
            padding:3px;
        }
    }
    .editProfileBut{
        width: 40%;
        margin: 10px;
        @media all and (max-width: 768px){
            font-size:18px;
            width: 95%;
        }
        @media all and (max-width: 1024px){
            font-size:14px;
            width: 65%;
        }
    }
    .infoMsg{
        position: fixed;
        top:50px;
        left: 30%;
        width: 40%;
        padding: 10px;
        color: white;
        font-size: 25px;
        background-color: #2ba014;
        @media all and (max-width: 1280px){
            font-size:18px;
            padding:3px;
        }
    }
    #deleteContainer{
        margin: 0 10%;
        border: 2px solid green;
        padding: 20px;
        color: black;
        text-align: center;
        border-radius: 20px;
        background-color: #ccc;
    }
    .selectInEdit{
        border-radius: 8px;
        padding: 5px;
        background-color: #c1efcb;
        font-size: 20px;
        width: 90%;
        @media all and (max-width: 1024px){
            font-size:16px;
        }
    }
    .errorDivPublish{
        position:fixed;
        top:10%;
        left:30%;
        width:40%;
        padding:20px;
        font-size:26px;
        text-align:center;
        background-color: #d2585c;
        color: wheat;
    }
    .image-box{
        width: 200px;
        height: 150px;
    }
    #previewImg{
        width: 100%;
    }
    .divForImagesEdit{
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }
    a{
        display: inline-block;
        margin-top: 20px;
        color: black;
        cursor: pointer;
        font-size: 20px;
        &:hover{
            color: #db0f16;  
        }
    }
    ul li{
        cursor: pointer;
    }
    .panel-heading{
        background-color: #d2585c !important;
        border-color: #d2585c !important;

    }
    .panel-primary{
        border-color: #d2585c !important;
    }
    #logout{
        position: absolute;
        top:8px;
        right: 5px;
    }
}
*{
    box-sizing: border-box;
}




