<button ng-click="logout()" id="logout" class="btn-link">Logout</button>
<div class="col-xs-12 col-sm-2" style="margin:0;padding: 0">
    <nav class="navigation" ng-controller="Secure">
        <h3>Navigation</h3>
        <hr class="hrStyle">
        <ul style="padding: 10px;text-align: left;margin-bottom: 20px">
            <li ng-class="{ 'activeLink': 1 == link }" ng-click="linkClicked(1);
                                changeView('/user/home')"><h4>Home</h4></li>
            <li ng-class="{ 'activeLink': 2 == link }" ng-click="linkClicked(2);
                                changeView('/user/ads');
                                changeClass(1)"><h4>My Ads</h4></li>
            <li ng-class="{ 'activeLink': 3 == link }" ng-click="linkClicked(3);
                                changeView('/user/ads/publish')"><h4>Publish New Ad</h4></li>
            <li ng-class="{ 'activeLink': 4 == link }" ng-click="linkClicked(4);
                                changeView('/user/profile')"><h4>Edit Profile</h4></li>
        </ul>
    </nav>
</div>
<section class="col-xs-12 col-sm-10" style="display: inline-block;position: relative">
    <div id="deleteContainer">
        <h2>Confirm deleting ad?</h2>
        <hr class="hrStyle">
        <div>
            <div class="pull-left"><h2>{{ad.title}}</h2></div>                
            <div class="pull-right">{{ad.date|date:'dd-MMM-yyyy'}}</div>
            <div class="clearfix"></div>
            <div class="imageDiv">
                <img ng-src="{{ad.imageDataUrl}}" alt="No image from user!" style="width: 100%" 
                     src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjMwMHB4IiB3aWR0aD0iMzAwcHgiIHZlcnNpb249IjEuMCIgdmlld0JveD0iLTMwMCAtMzAwIDYwMCA2MDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Y2lyY2xlIHN0cm9rZT0iI0FBQSIgc3Ryb2tlLXdpZHRoPSIxMCIgcj0iMjgwIiBmaWxsPSIjRkZGIi8+Cjx0ZXh0IHN0eWxlPSJsZXR0ZXItc3BhY2luZzoxO3RleHQtYW5jaG9yOm1pZGRsZTt0ZXh0LWFsaWduOmNlbnRlcjtzdHJva2Utb3BhY2l0eTouNTtzdHJva2U6IzAwMDtzdHJva2Utd2lkdGg6MjtmaWxsOiM0NDQ7Zm9udC1zaXplOjM2MHB4O2ZvbnQtZmFtaWx5OkJpdHN0cmVhbSBWZXJhIFNhbnMsTGliZXJhdGlvbiBTYW5zLCBBcmlhbCwgc2Fucy1zZXJpZjtsaW5lLWhlaWdodDoxMjUlO3dyaXRpbmctbW9kZTpsci10YjsiIHRyYW5zZm9ybT0ic2NhbGUoLjIpIj4KPHRzcGFuIHk9Ii00MCIgeD0iOCI+Tk8gSU1BR0U8L3RzcGFuPgo8dHNwYW4geT0iNDAwIiB4PSI4Ij5BVkFJTEFCTEU8L3RzcGFuPgo8L3RleHQ+Cjwvc3ZnPg==" /></div>                
            <div class="textDiv">
                {{ad.text}}
            </div>
            <div class="infoDiv">
                <div style="margin: 10px;">
                    <h3>Town: </h3><span class="spanText2">{{ad.townName}}</span>
                </div>
                <div style="margin: 10px;">
                    <h3>Category: </h3><span class="spanText2">{{ad.categoryName}}</span>
                </div>
            </div>
            <div>
                <button class="btn btn-danger deactivateBut" style="width: 40%" ng-click="deleteAdv(ad.id)">Delete</button>
                <button class="btn btn-primary deactivateBut" style="width: 40%" ng-click="linkClicked(1);
                            cancel();">Cancel</button>
            </div>
        </div>
    </div>
</section>