<button ng-click="logout()" id="logout" class="btn-link">Logout</button>
<nav class="col-xs-12 col-sm-2 navigation" ng-controller="Secure">
    <h3>Navigation</h3>
    <hr style="border-top: 2px solid green;">
    <ul style="padding: 10px;text-align: left">
        <li ng-class="{ 'active': 1 == link }" ng-click="linkClicked(1);changeView('/user/home')"><h4>Home</h4></li>
        <li ng-class="{ 'active': 2 == link }" ng-click="linkClicked(2);changeView('/user/ads');changeClass(1)"><h4>My Ads</h4></li>
        <li ng-class="{ 'active': 3 == link }" ng-click="linkClicked(3);changeView('/user/ads/publish')"><h4>Publish New Ad</h4></li>
        <li ng-class="{ 'active': 4 == link }" ng-click="linkClicked(4);changeView('/user/profile')"><h4>Edit Profile</h4></li>
    </ul>
</nav>
<section class="col-xs-12 col-sm-10" style="display: inline-block;position: relative" >
    edit
</section>