<button ng-click="logout()" id="logout" class="btn-link">Logout</button>
<nav class="col-xs-12 col-sm-2 navigation">
    <h3>Navigation</h3>
    <hr class="hrStyle">
    <ul style="padding: 10px;text-align: left">
        <li ng-class="{ 'active': 1 == link }" ng-click="linkClicked(1);
                    changeView('/user/home')"><h4>Home</h4></li>
        <li ng-class="{ 'active': 2 == link }" ng-click="linkClicked(2);
                    changeView('/user/ads');
                    changeClass(1)"><h4>My Ads</h4></li>
        <li ng-class="{ 'active': 3 == link }" ng-click="linkClicked(3);
                    changeView('/user/ads/publish')"><h4>Publish New Ad</h4></li>
        <li ng-class="{ 'active': 4 == link }" ng-click="linkClicked(4);
                    changeView('/user/profile')"><h4>Edit Profile</h4></li>
    </ul>
</nav>
<section class="col-xs-12 col-sm-7" style="display: inline-block;position: relative" >
    <span style="position: absolute;top:50px;left: 210px;z-index: -1;font-size: 26px">No results!</span>
    <ul>
        <li ng-repeat="ad in ads| filter:choise:true">
            <div class="adsDiv">
                <div class="pull-left"><h2>{{ad.title}}</h2></div>                
                <div class="pull-right">{{ad.date|date:'dd-MMM-yyyy'}}</div>
                <div class="clearfix"></div>
                <div class="imageDiv"><img ng-src="{{ad.imageDataUrl}}" alt="No image from user!" style="width: 100%" /></div>                
                <div class="textDiv">
                    {{ad.text}}
                </div>
                <div class="contInfoDiv">                     
                    <div class="infoDiv">
                        <div><strong>Name: </strong><span class="spanText">{{ad.ownerName}}</span></div>
                        <div><strong>Email: </strong><span class="spanText">{{ad.ownerEmail}}</span></div>
                        <div><strong>Tel: </strong><span class="spanText">{{ad.ownerPhone}}</span></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<aside class="col-xs-12 col-sm-3 pull-right" style="padding: 17px;" >

    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center"><h4>Categories</h4></div>
        <div class="panel-body innerPanel">
            <ul class="list-group innerPanel">
                <li class="list-group-item-success innerLi" ng-class="{ 'active': $index == selectedIndexCategory }" ng-click="getFilterByCatID(null);
                            categoryClicked($index)">All</li>
                <li class="list-group-item-success innerLi" ng-class="{ 'active': $index == selectedIndexCategory }" ng-click="getFilterByCatID(cat.id);
                            categoryClicked($index)"  ng-repeat="cat in categories">{{cat.name}}</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center"><h4>Towns</h4></div>
        <div class="panel-body innerPanel">
            <ul class="list-group innerPanel">
                <li class="list-group-item-success innerLi" ng-class="{ 'active': $index == selectedIndex }"
                    ng-click="getFilterByTownID(null);
                                itemClicked($index)" >All</li>
                <li class="list-group-item-success innerLi" ng-class="{ 'active': $index == selectedIndex }"
                    ng-click="getFilterByTownID(town.id);
                                itemClicked($index)" ng-repeat="town in towns">{{town.name}}</li>
            </ul>
        </div>
    </div>   
</aside>