<button ng-click="logout()" id="logout" class="btn-link">Logout</button>
<div class="col-xs-12 col-sm-2" style="margin:0;padding: 0">
    <nav class="navigation" ng-controller="Secure">
        <h3>Navigation</h3>
        <hr class="hrStyle">
        <ul class="ulAdsLogged">
            <li ng-class="{ 'activeLink': 1 == link }" ng-click="linkClicked(1);
                                changeView('/user/home')"><h4>Home</h4></li>
            <li ng-class="{ 'activeLink': 2 == link }" ng-click="linkClicked(2);
                                changeView('/user/ads');
                                changeClass(1)"><h4>My Ads</h4></li>
            <li ng-class="{ 'activeLink': 3 == link }" ng-click="linkClicked(3);
                                changeView('/user/ads/publish')"><h4>Publish New Ad</h4></li>
            <li ng-class="{ 'activeLink': 4 == link }" ng-click="linkClicked(4);
                                changeView('/user/profile')"><h4>Edit Profile</h4></li>
        </ul>
    </nav>
</div>
<section class="col-xs-12 col-sm-10" style="display: inline-block;position: relative">
    <div id="deleteContainer" ng-init="newAd">
        <h2>Publish new newAd</h2>
        <hr class="hrStyle">
        <div>
            <form>
                <div class="pull-left" style="margin-left: 7%"><h4>Title: </h4>
                    <input class="selectInEdit" style="width: 70%" type="text" required ng-model="newAd.title" />
                </div>                
                <div class="clearfix"></div>     
                <div class="pull-left" style="margin-left: 6%;width: 95%">
                    <div style="display: table;margin-left: 10px;">
                        <div style="display: table-cell;vertical-align: middle"><h4>Text: </h4></div>
                        <div style="display: inline-block;margin: 15px">
                            <textarea required class="textArea" ng-model="newAd.text" >{{newAd.text}}</textarea> 
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div style="width: 92%;">
                    <h4>Image: </h4> <input type="text" id="showPath" value="{{filePath}}" style="width: 74%" class="selectInEdit" />
                    <input type='file' id="imgInp" style="display: inline-block"/><br />
                    <img id="previewImg" src="#" alt="your image" style="width: 50%" />
                </div>
                <div class="infoDiv" style="width: 50%">
                    <div style="margin: 10px;">
                        <h4>Town: </h4>
                        <select class="selectInEdit" ng-model="newAd.townId">
                            <option value="" style="display: none"></option>
                            <option ng-repeat="town in towns" value="{{town.id}}" >{{town.name}}</option>
                        </select>
                    </div>
                    <div style="margin: 10px;">
                        <h4>Category: </h4>
                        <select class="selectInEdit" ng-model="newAd.categoryId">
                            <option value="" style="display: none"></option>
                            <option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
                        </select>
                    </div>
                </div>

                <div>
                    <button class="btn btn-danger deactivateBut" style="width: 40%" ng-click="createAdv(newAd)">Create!</button>
                    <button class="btn btn-primary deactivateBut" style="width: 40%" ng-click="linkClicked(1);
                                cancel();">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>