<nav class="col-xs-12 col-sm-2" ng-controller="Main">
    <h4>To publish a new ad, please login</h4><br />
    <button class="btn btn-block btn-warning button" ng-click="changeView('login')" >Login</button>
    <button class="btn btn-block btn-warning button" ng-click="changeView('register')">Register</button>
</nav>
<section class="col-xs-12 col-sm-10" >
    <form class="registerForm">
        <h2>Register new user</h2>
        <hr class="hrStyle">
        <div style="display: inline-block;width: 45%;vertical-align: top">
            <h3>Username</h3>
            <input type="text" class="input-lg" ng-model="user.username"  required=""/>
            <h3>Name</h3>
            <input type="text" class="input-lg" ng-model="user.name" required=""/>
            <h3>Phone</h3>
            <input type="text" class="input-lg" ng-model="user.phone"  required=""/>
        </div>
        <div style="display: inline-block;width: 45%;vertical-align: top">
            <h3>Password</h3>
            <input type="password" class="input-lg" ng-model="user.password"  required=""/>
            <h3>Confirm password</h3>
            <input type="password" class="input-lg" ng-model="user.confirmPassword"  required=""/>
            <h3>Email</h3>
            <input type="email" class="input-lg" ng-model="user.email" required=""/>
            <h3>Town</h3>
            <br />
            <select ng-model="user.townId" class="selectInEdit">
                <option style="display: none"></option>
                <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
            </select>
        </div>

        <div style="width: 94%;margin: 0 auto;padding: 10px">
            <button class="btn login pull-left" style="width: 45%" ng-click="register(user)">Register</button>
            <a ng-href="#/login" class="link">Login here</a>
        </div>
    </form>
</section>

